$background-color: rgb(21, 25, 24);
$widget-background-color: rgba(255, 255, 255, 0.1);

* {
  all: unset;
  font-family: JetBrainsMono;
  font-weight: bold;
}

.top-bar-window,
.right-bar-window,
.bottom-bar-window,
.left-bar-window {
  background-color: $background-color
}

.tl-corner {
  background: radial-gradient(at bottom right, transparent 20px, $background-color 0px);
}

.tr-corner {
  background: radial-gradient(at bottom left, transparent 20px, $background-color 0px);
}

.br-corner {
  background: radial-gradient(at top right, transparent 20px, $background-color 0px);
}

.bl-corner {
  background: radial-gradient(at top left, transparent 20px, $background-color 0px);
}


.left-bar-widgets {
  padding: 20px;
}

.workspaces {
  background-color: $widget-background-color;
  padding: 6px;
  border-radius: 20px;

  button.active {
    background-color: $widget-background-color;

    .box {
      label {
        font-size: 1rem;
        color: inherit
      }
    }
  }

  button {
    border-radius: 15px;

    .box {
      label {
        padding: 0.5em;
        border-radius: 1rem;
        color: transparent;
        font-size: 0.3rem;
        background-color: $widget-background-color;
      }
    }
  }
}

.clock {
  background-color: $widget-background-color;
  padding: 5px;
  border-radius: 5px;
}

.app-desc {
  font-style: italic;
}

tooltip {
  padding: 5px;
  border-radius: 1rem;
  color: $background-color;
  background-color: #ffffff;
}

menu {
  padding: 10px;
  border-radius: 20px;
  background-color: $background-color;
  color: #fff;

  menuitem {
    border-radius: 10px;
    padding: 8px 12px;
  }

  menuitem:hover {
    background-color: $widget-background-color;
  }
}

.graphs {
  background-color: $widget-background-color;
  border-radius: 5px;
  padding: 5px;

  .mem {
    color: rgb(50, 50, 200);
    background-color: rgba(50, 50, 200, 0.3);
  }

  .cpu {
    color: rgb(50, 200, 50);
    background-color: rgba(50, 200, 50, 0.3);
  }

}

.Charging {
  background-color: rgba(60, 100, 200, 0.3);
}

.bat {
  color: transparent;
  background-color: rgba(255, 255, 255, 0.3);
}
